In [34]:
from sklearn import tree
import pandas as pd
from IPython.display import Image
import numpy as np

golf_df = pd.DataFrame()
golf_df['Outlook'] = ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 
                     'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast',
                     'overcast', 'rainy']
golf_df['Temperature'] = [92, 86, 83, 50, 60, 53, 62,
                         75, 57, 72, 78, 69, 61, 71]
golf_df['Humidity'] = [40.3, 63.1, 35.3, 86.3, 72.4, 22.7, 27.0,
                      80.7, 15.4, 25.1, 18.6, 58.3, 47.2, 39.3]
golf_df['Play'] = ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 
                   'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']

golf_dat = pd.get_dummies(golf_df)
golf_dat

,Temperature,Humidity,Outlook_overcast,Outlook_rainy,Outlook_sunny,Play_no,Play_yes
0,92,40.3,0,0,1,1,0
1,86,63.1,0,0,1,1,0
2,83,35.3,1,0,0,0,1
3,50,86.3,0,1,0,0,1
4,60,72.4,0,1,0,0,1
5,53,22.7,0,1,0,1,0
6,62,27.0,1,0,0,0,1
7,75,80.7,0,0,1,1,0
8,57,15.4,0,0,1,0,1
9,72,25.1,0,1,0,0,1
10,78,18.6,0,0,1,0,1
11,69,58.3,1,0,0,0,1
12,61,47.2,1,0,0,0,1
13,71,39.3,0,1,0,1,0

In [41]:
from sklearn.model_selection import cross_val_score
import time

X = golf_dat[['Temperature', 'Humidity', 'Outlook_overcast', 'Outlook_rainy', 'Outlook_sunny']]
Y = golf_dat['Play_yes']

start_time = time.time()
clf = tree.DecisionTreeClassifier()
print(np.mean(cross_val_score(clf, X, Y, cv=5)))
print("{} seconds".format(time.time() - start_time))

0.6333333333333333
0.019471168518066406 seconds

In [42]:
from sklearn import ensemble

start_time = time.time()
rfc = ensemble.RandomForestClassifier(n_estimators = 20)
print(np.mean(cross_val_score(rfc, X, Y, cv=5)))
print("{} seconds".format(time.time() - start_time))

0.6333333333333333
0.07465887069702148 seconds